<div class="card-base card-dark border-lg shadow-lg ">
  <h3 class="card-header bg-important"><center><%= title %></center></h3> 
  <div class="card-body">
      <h4 class="card-title text-lg "><%= title %></h4>
      <h5 class="card-subtitle"><%= subtitle %></h5>
      <p class="card-text"><%= body %></p>
    </div>
    <h5 class="card-footer mb-0"><%= footer %></h5>
</div>
