<p id="notice"><%= notice %></p>
<div><b>Key:</b> <%= @setting.key %></div>
<div><b>Value:</b> <%= @setting.value %></div>
<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
